/* ▼新規登録画面 */
  body,h1,h2,p,form,label,input {
    font-family: 'Noto Sans JP', sans-serif;
  }

.second-container{
  height: 60px;
  display: flex;
  align-items: center;
}
/* 
.second-header{
} */

.second-coedo-icon{
  text-decoration: none;
  margin-left: 60px;
  font-size: 30px;
}

.registration-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #333;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

.required-item{
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: normal;
}

.input-default {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.select-box{
  font-family: 'Noto Sans JP', sans-serif;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-default-introduction, .input-default-business_hour{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px 16px 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.shop-image{
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #fa6873;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-gray-btn {
  width: 100%;
  background: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  border: 1px solid;
  line-height: 48px;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #fa6873;
  text-align: right;
  cursor: pointer;
}

.info-text{
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}