<div class=second-container>
  <div class='second-header'>
    <%= link_to 'coedo', root_path, class:'second-coedo-icon' %>
  </div>
</div>

<div class="introduction-main">
  <div class="inner">
    
  </div>
</div>