<!--
a:link { color:#333; text-decoration:none }
a:visited { color:#333; text-decoration:none }
a:hover { color:#333; text-decoration:none }
a:active { color:#333; text-decoration:none }
-->
<div class=second-container>
  <div class='second-header'>
    <%= link_to 'coedo', root_path, class:'second-coedo-icon' %>
  </div>
</div>