<div class="main">
  <div class="card-main">
    <div class="card-main-img">
      <%= image_tag post.image, class: :"card-img" %>
    </div>
    <div class="card-main-topic">
      <div class="topic-date">
        <%=l post.created_at %>
      </div>
      <%= link_to "#{post.title}",post_path(post.id), class: :card__title %>
      <p class="card__summary">
        <%= "#{post.text}" %>
      </p>
    </div>
  </div>
</div>