<%= render "shared/header" %>

<div class="main-page">
  <div class="top-image">
    <%= image_tag "mainimage.png", class:"top-image-one" %>
  </div>
  <div class="">
  </div>
</div>

<footer>
</footer>